<!DOCTYPE HTML>
<html>
	<head>
	  	<title>Thermostat</title>
	 	<link rel="stylesheet" type="text/css" href="css/reset.css">
	  	<link rel="stylesheet" type="text/css" href="css/styles.css">
	  	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> -->
	</head>

	<body> 
	<div id="controls" class="ui-widget-content">
		<h2>Controls</h2>
		<form id="custom-values">
			<input type="text" id="mintemperature" placeholder="Minimum temperature">
			<input type="text" id="maxtemperature" placeholder="Maximum temperature">
			<input type="text" id="maxtemperatureps" placeholder="Max. PowerSaver temperature">
			<input type="submit" class="submit-button" value="Set!">
		</form>
		<h2 id="increase">HOTTER!</h2>
		<h2 id="decrease">Coooler</h2>
		<h2 id="reset">Reset</h2>
		<h2 id="powersaveron">Power Saver On</h2>
		<h2 id="powersaveroff">Power Saver Off</h2>
	</div>
	<h2 id="message"></h2>
	<h1 id="temperature">TemperatureDisplay</h1>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jqueryui.js"></script>
	<script type="text/javascript" src="js/thermostat.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>

	<script>
		$(function() {
		    $( "#controls" ).draggable();
		});
    </script>
	</body>
</html>